.contacts {
  margin-bottom: 18px;
  padding-top: 19px;
}

.contacts__legend {
  margin-left: 19px;
}

.contacts__list {
  .listreset();
  margin-bottom: 30px;
}

.contacts__item {
  display: flex;
  flex-direction: column;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__label {
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 6px;
  margin-left: 21px;
  position: relative;
}

.contacts__item--2 .contacts__label {
  padding-top: 12px;
}

.contacts__label--phone {
  &::before {
    position: absolute;
    content: "";
    top: 32px;
    right: 0;
    width: 58px;
    height: 58px;
    background-color: @bg-grey-alternative-color;
    z-index: 2;
  }

  &::after {
    position: absolute;
    content: "";
    top: 52px;
    right: -21px;
    width: 58px;
    height: 58px;
    background-image: url("../../img/icon-phone.svg");
    background-repeat: no-repeat;
    z-index: 3;
  }
}

.contacts__label--email {
  &::before {
    position: absolute;
    content: "";
    top: 44px;
    right: 0;
    width: 58px;
    height: 58px;
    background-color: @bg-grey-alternative-color;
    z-index: 2;
  }

  &::after {
    position: absolute;
    content: "";
    top: 67px;
    right: -21px;
    width: 58px;
    height: 58px;
    background-image: url("../../img/icon-mail.svg");
    background-repeat: no-repeat;
    z-index: 3;
  }
}

.contacts__input {
  width: 100%;
  height: 58px;
  box-sizing: border-box;
  background-color: @body-color;
  border: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @black-color;
  padding: 0;
  padding-left: 21px;
  padding-right: 78px;
  padding-top: 15px;
  padding-bottom: 16px;
  position: relative;

  &::placeholder {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: @black-color;
    opacity: 1;
  }
}

@media (min-width: @tablet-width) {
  .contacts {
    width: 100%;
    order: 3;
    margin-top: 66px;
    border-top: 1px solid @border-color;
    padding-top: 25px;
    margin-bottom: 0;
  }

  .contacts__legend {
    width: 400px;
    margin: 0 auto;
    text-align: center;
  }

  .contacts__item--2 .contacts__label {
    padding-top: 24px;
  }

  .contacts__label--email {
    &::before {
      top: 56px;
    }

    &::after {
      top: 79px;
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    padding-top: 73px;
  }

  .contacts__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .contacts__item {
    width: 480px;
    box-sizing: border-box;
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .contacts__item--1 .contacts__input {
    width: 315px;
    margin-right: 80px;
  }

  .contacts__item--2 .contacts__input {
    width: 316px;
  }

  .contacts__label {
    margin-left: 0;
    margin-bottom: 0;
  }

  .contacts__label--phone {
    margin-top: 18px;

    &::before {
      top: 0;
      margin-top: -18px;
      margin-right: -331px;
    }

    &::after {
      top: 2px;
      right: 0;
      margin-right: -352px;
    }
  }

  .contacts__label--phone span {
    display: none;
  }

  .contacts__item--2 .contacts__label {
    padding-top: 0;
  }

  .contacts__label--email {
    margin-top: 18px;
    &::before {
      top: 0;
      margin-top: -18px;
      margin-right: -334px;
    }

    &::after {
      top: 4px;
      margin-right: -334px;
    }
  }
}
