.impression__legend {
  margin-bottom: 25px;
  margin-left: 22px;
}

.impression__list {
  .listreset();
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}

.impression__item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}

.impression__label {
  min-height: 56px;
  padding-left: 78px;
  padding-top: 10px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @black-color;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 56px;
    height: 56px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background-color: @body-color;
  }
}

.impression__input--radio:checked + .impression__label::after {
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 50%;
    left: 17px;
    top: 17px;
    background-color: @text-color33;
  }

@media (min-width: @tablet-width) {
  .impression {
    width: 50%;
    order: 1;
    border-right: 1px solid @border-color;
  }

  .impression__legend {
    margin-left: 0;
  }

  .impression__list {
    margin: 0;
  }

  .impression__label {
    padding-left: 75px;
  }
}

@media (min-width: @desktop-width) {

}
