.intro {
  background-color: @bg-grey-color;
}

.intro__container {
  width: @mobile-width;
  margin: 0 auto;
  background-color: @white-color;
}

.intro__wrapper {
  position: relative;
  height: 389px;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../../img/bg-back-mobile@2x.jpg");
    background-size: 768px auto;
  }
}

.intro__wrapper--photo {
  height: 158px;
  background-position: center bottom;
}

.intro__text {
  width: 280px;
  height: 213px;
  position: absolute;
  top: 90px;
  left: 50%;
  margin-left: -140px;
}

.intro__text-photo {
  width: 229px;
  height: 39px;
  position: absolute;
  top: 52px;
  left: 50%;
  margin-left: -114px;
}

.intro__line {
  width: 100%;
  height: 26px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (min-width: @tablet-width) {
  .intro__container {
    width: @tablet-width;
  }

  .intro__wrapper {
    height: 518px;
    background-image: url("../../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../../img/bg-back-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }

  .intro__wrapper--photo {
    height: 290px;
    background-position: center bottom;
  }

  .intro__text-photo {
    width: 458px;
    height: 78px;
    top: 95px;
    margin-left: -231px;
  }

  .intro__text {
    width: 460px;
    height: 350px;
    top: 77px;
    margin-left: -230px;
  }

  .intro__line {
    height: 57px;
  }
}

@media (min-width: @desktop-width) {
  .intro__container {
    width: @desktop-width;
  }

  .intro__wrapper {
    background-image: url("../../img/bg-back-desktop@1x.jpg");

    // @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    //   background-image: url("../../img/bg-back-desktop@2x.jpg");
    //   background-size: 1200px auto;
    // }
  }

  // .intro__wrapper--photo {
  //   height: 158px;
  //   background-position: center bottom;
  // }
  // .intro__text-photo {
  //   width: 229px;
  //   height: 39px;
  //   position: absolute;
  //   top: 52px;
  //   left: 50%;
  //   margin-left: -114px;
  // }

  .intro__text {
    top: 78px;
  }
}
