.place {

}

.place__legend {
  margin-bottom: 25px;
  margin-left: 21px;
  text-align: center;
}

.place__list {
  .listreset();
  margin-bottom: 28px;
}

.place__item {
  margin-bottom: 34px;

  &:last-child {
    margin-bottom: 0;
  }
}

.place__input {

}

.place__input--checkbox {

}

.place__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @black-color;
  padding-left: 78px;
}

@media (min-width: @tablet-width) {
  .place {
    width: 324px;
    order: 4;
  }
}

@media (min-width: @desktop-width) {

}
