.reasons__container {
  width: @mobile-width;
  margin: 0 auto;
  padding-top: 40px;
  background-color: @white-color;
}

.reasons__slogan {
  .reset-ma-pa();
  display: block;
  color: @black-color;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 27px;
}

.reasons__text {
  .reset-ma-pa();
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-left: 29px;
  margin-right: 30px;
  margin-bottom: 26px;
}

.reasons__list {
  .listreset();
  background-color: @bg-grey-color;
}

.reasons__item--1 {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 160px solid transparent;
    border-top: 16px solid @white-color;
  }
}

.reasons__item--3,
.reasons__item--4,
.reasons__item--5 {
  padding-left: 20px;
  padding-right: 20px;
}

.reasons__item-text-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.reasons__item--1 .reasons__item-text-wrapper {
  padding-top: 59px;
  background-color: @bg-blue-color;
}

.reasons__item--2 .reasons__item-text-wrapper {
  padding-top: 41px;
  background-color: @bg-blue-color;
}

.reasons__item--3 .reasons__item-text-wrapper,
.reasons__item--4 .reasons__item-text-wrapper,
.reasons__item--5 .reasons__item-text-wrapper {
  padding-left: 0;
  padding-right: 0;
  padding-top: 29px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.reasons__item--5 .reasons__item-text-wrapper {
  border-bottom: none;
}

.reasons__item-title {
  .reset-ma-pa();
  font-size: 18px;
  font-weight: 700;
  color: @black-color;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

.reasons__item--1 .reasons__item-title {
  // margin-left: 45px;
  color: @white-color;
}

.reasons__item--2 .reasons__item-title {
  // margin-left: 33px;
  color: @white-color;
  margin-bottom: 11px;
}

.reasons__item--3 .reasons__item-title {
  // margin-left: 45px;
  margin-bottom: 11px;
}

.reasons__item--4 .reasons__item-title {
  // margin-left: 62px;
  margin-bottom: 11px;
}

.reasons__item--5 .reasons__item-title {
  // margin-left: 70px;
  margin-bottom: 11px;
}

.reasons__item-count {
  display: block;
  text-transform: uppercase;
  margin-bottom: 16px;
  // margin-left: 115px;
  text-align: center;
}

.reasons__item--1 .reasons__item-count {
  color: @white-color;
}

.reasons__item--2 .reasons__item-count {
  color: @white-color;
  margin-bottom: 15px;
}

.reasons__item-desc {
  .reset-ma-pa();
  text-transform: uppercase;
  // margin-left: 28px;
  // margin-right: 20px;
  text-align: center;
  margin-bottom: 40px;
}

.reasons__item--1 .reasons__item-desc {
  color: @white-color;
}

.reasons__item--2 .reasons__item-desc {
  color: @white-color;
}

.reasons__item--3 .reasons__item-desc {
  margin-bottom: 27px;
}

.reasons__item--4 .reasons__item-desc {
  padding-left: 22px;
  padding-right: 26px;
  margin-bottom: 27px;
}

.reasons__item--5 .reasons__item-desc {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 27px;
}

.reasons__item-img {
  display: block;
  width: 320px;
  height: 260px;
}

@media (min-width: @tablet-width) {
  .reasons__container {
    width: @tablet-width;
    padding-top: 50px;
  }

  .reasons__slogan {
    font-size: 21px;
    margin-left: 160px;
    margin-right: 160px;
  }

  .reasons__text {
    margin-left: 139px;
    margin-right: 30px;
    margin-bottom: 51px;
    text-align: left;
  }

  .reasons__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 44px;
  }

  .reasons__item--1 {
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: @white-color;

    &::before {
      display: none;
    }
  }

  .reasons__item--2 {
    display: flex;
  }

  .reasons__item--3,
  .reasons__item--4,
  .reasons__item--5 {
    width: 256px;
    padding-left: 0;
    padding-right: 0;
  }

  .reasons__item-text-wrapper {
    padding-left: 0;
    padding-right: 0;
    padding-top: 45px;
  }

  .reasons__item--1 .reasons__item-text-wrapper {
    width: 256px;
    box-sizing: border-box;
    padding-top: 45px;
    padding-left: 45px;
    padding-right: 45px;
  }

  .reasons__item--2 .reasons__item-text-wrapper {
    order: 1;
    width: 256px;
    box-sizing: border-box;
    padding-top: 45px;
    padding-left: 52px;
    padding-right: 53px;
  }

  .reasons__item--3 .reasons__item-text-wrapper,
  .reasons__item--4 .reasons__item-text-wrapper,
  .reasons__item--5 .reasons__item-text-wrapper {
    border-bottom: none;
    padding-top: 45px;
  }

  .reasons__item--3 .reasons__item-text-wrapper {
    padding-left: 46px;
    padding-right: 48px;
  }

  .reasons__item--4 .reasons__item-text-wrapper {
    padding-left: 50px;
    padding-right: 48px;
  }

  .reasons__item--5 .reasons__item-text-wrapper {
    padding-left: 50px;
    padding-right: 48px;
  }

  .reasons__item-title {
    font-size: 21px;
    line-height: 26px;
  }

  .reasons__item--2 .reasons__item-title,
  .reasons__item--3 .reasons__item-title,
  .reasons__item--4 .reasons__item-title,
  .reasons__item--5 .reasons__item-title {
    margin-bottom: 10px;
  }

  .reasons__item-count {
    margin-bottom: 21px;
  }

  .reasons__item--2 .reasons__item-count {
    margin-bottom: 21px;
  }

  .reasons__item-desc {
    margin-bottom: 34px;
  }


  .reasons__item--2 .reasons__item-desc {
    margin-bottom: 23px;
  }

  .reasons__item--3 .reasons__item-desc {
    margin-bottom: 0;
  }

  .reasons__item--4 .reasons__item-desc {
    padding-left: 8px;
    padding-right: 9px;
    margin-bottom: 0;
  }

  .reasons__item--5 .reasons__item-desc {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
  }

  .reasons__item-img {
    display: block;
    width: 512px;
    height: 256px;
  }
}

@media (min-width: @desktop-width) {
  .reasons__container {
    width: @desktop-width;
  }

  .reasons__slogan {
    margin-left: 380px;
    margin-right: 376px;
  }

  .reasons__text {
    margin-left: 355px;
  }

  .reasons__item--3,
  .reasons__item--4,
  .reasons__item--5 {
    width: 400px;
  }

  .reasons__item--1 .reasons__item-text-wrapper,
  .reasons__item--2 .reasons__item-text-wrapper {
    width: 400px;
    padding-left: 67px;
    padding-right: 67px;
  }

  .reasons__item-img {
    display: block;
    width: 800px;
    height: 400px;
  }
}
