@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1200px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
@bg-blue-color: #81b3d2;
@bg-grey-color: #eeeeee;
@white-color: #ffffff;
@black-color: #000000;
@text-color33: #333333;
@menu-border-color: #678fa8;
